.section{
  padding: 10.4rem 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: cont 10000ms ease-in-out infinite alternate;
}

.form_container{
    width: 44.8rem;
    /*   28 * 16 = 448 , 44.8rem  */
    background-color: rgba(0, 0, 0, 0.7);
    /* background: transparent; */
    /* backdrop-filter: blur(55px); */
    border-radius: 5px;
    padding: 1.4rem;
}

.form_container h2{
  font-size: 3.2rem;
  color: #fff;
  text-align: center;
}

.inputBox {
  position: relative;
  margin: 2.56rem 0 10px 0;
  border-bottom: 2px solid #fff;
}

.inputBox label {
  position: absolute;
  top: 10%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  font-size: 1.6rem;
}


input:focus ~ label,  
input:invalid ~ label {
  top: -7px;
}

.inputBox input {
  width: 100%;
  height: 4.8rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 0 35px 0 5px;
  color: #fff;
}

.showPass{
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  font-size: 1.6rem;
}

.formButton {
  width: 100%;
  height: 40px;
  margin-top: 2%;
  border-radius: 40px;
  background-color: rgb(255, 255,255, 1);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.4s ease;
}

.formButton:hover {
background-color: rgb(255, 255,255, 0.5);
}

.paragraph{
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.paragraph p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.paragraph p a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 992px) {
  
}