.LayoutBox {
  border: 0 !important;
  color: aliceblue !important;
  background-color: rgba(0, 0, 0, .4) !important;
}

.imgLayer {
  position: relative;
  overflow: hidden;
}

.overLayer {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.905);
  bottom: 0;
  content: "";
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  left: 0;
  letter-spacing: 1px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 1s;
}

.imgLayer:hover .overLayer {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.boxTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.boxDate {
  font-size: 12px;
}

.popUp {
  background-color: #000 !important;
  color: antiquewhite !important;
  border-color: transparent !important;
}
