.Content{
 display: flex;
}

.Container{
    margin: 0px auto 20px;
    width: 106rem !important;
    /* background: rgba(0, 0, 0, .6); */
    /* height: 100%; */
    /* box-shadow: rgb(171 169 171) 0px 0px 3px 0px; */
    min-height: calc(100vh - 25%) !important;
}

.Header{
    min-height: 12rem;
    margin: 0px -16px;
    padding: 0px 10px;
}

.Header h1{
    font-size: 3.5rem;
}

.Header h2{
    font-size: 3rem;
}

.Box{
    background-color: rgba(25, 25, 25, 0.5);
    border-radius: 50%;
    height: 11.6rem;
    width: 11.6rem;
    /*   11.6 * 16 = 185.6 , 18.56rem  */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(171 169 171) 0px 0px 5px 0px;
}

.Description{
    background-color: rgba(0,0,0, 0.6);
    border-top: 7px solid #ffca2c;
    margin-top: 20px;
    font-size: 1.6rem !important;
}

.profileHeading{
    margin-top: 3rem;
    margin-top: 1rem;
}

.Description h2{
    font-size: 2.5rem;
}


@media only screen and (max-width: 992px) {
.Header h1{
    font-size: 4.5rem;
}

.Header h2{
    font-size: 5rem;
    margin-left: 1rem;
}

.Box{
    height: 12rem;
    width: 12rem;
}

.Description{
    font-size: 2rem !important;
}

.Description h2{
    font-size: 3rem;
}

}