.search_form{
    position: relative;
    display: inline-block;
    width: 40rem;
    /*  22 * 16 = 352 , 35.2rem  */
    font-size: 1.6rem;
}

.search_input{
    border-radius: 40rem !important;
    /*   25 * 16 = 400 , 40rem  */
    background-color: transparent !important;
    border-color:#ffca2c !important; 
    transition: all .5s ease-in !important;
    font-size: 1.6rem !important;
}

.search_input::placeholder{
    color: #ffca2c !important;
}

.search_input:focus{
    color: #212529;
    background-color: #fff !important;
    border-color: rgb(255, 203, 46);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 203, 46,.25) !important;
}

@media only screen and (max-width: 992px) {
    .search_form{
        font-size: 2rem !important;
        margin-top: 1.5rem !important;
    }
    .search_input{font-size: 2rem !important;}
}