.section{
  padding: 10.4rem 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: cont 10000ms ease-in-out infinite alternate;
}

.data_container{
    width: 88rem;
    /*   55 * 16 = 880 , 88rem  */
    display: flex;
    border-radius: 5px;
    padding: 2rem;
    background-color: rgba(0, 0,0, .5);
    box-shadow: rgb(171 169 171) 0px 0px 5px 0px;
}

.contentDetails{
  display: flex;
  align-items: center;
   /* background-color: rgba(33, 37, 41, .9); */
}