*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 59.375%;
  }
}
@media only screen and (max-width: 62em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 36em) {
  html {
    font-size: 40%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #000;
  color: antiquewhite;
  /* overflow: hidden; */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(./assets/movie.jpg) fixed center center;
  background-size: cover;
}

#rootReactVNB{
  display: none;
}

#root{
  flex-grow: 1;
}

.App{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
}

body::-WebKit-scrollbar{
  width: 10px;
  background: #dadada;
}

body::-webkit-scrollbar-thumb{
  border-radius: 100px;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section{
  min-height: 100vh;
}